footer {
  text-align: center;
  font-size: 14px;
  padding: 24px;
  color: #ffffff;
  font-weight: bolder;
  display: flex;
justify-content: center;
  margin-top: 70px;
  background: #1a1432;
}
footer ul{
  list-style: none;
  font-size: 20px;
  margin: 40px;
}

footer a{
  text-decoration: none;

}