@import url("https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1.300;1.400;1.500;1.600;1.700;1.800;1.900 & display=swap");

:root {
  --font-raleway: "Raleway", sans-serif;
}

* {
  margin: 0;
  border: 0;
  font-family: var(--font-raleway);
  box-sizing: border-box;
}

body {
  background: #18122b;
}

#my-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #222527;
  animation: fade-out 2s linear forwards;
}

#my-image img {
  visibility: visible;
  width: 100%;
}

@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

#app {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  margin: 30px;
  /* justify-content: center; */
}
.logo img {
  margin: 10px 10px;
  width: 237px;
  height: 52px;
  flex-shrink: 0;
}
.search {
  width: 817px;
  height: 66px;
  margin: 0 300px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1.5rem 2.75rem;
  border-radius: 50px;
  background: #1f2123;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}
.sear {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 4;
}
.search input {
  flex: 1;
  border: none;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
  font-weight: 500;
  font-size: 1.5rem;
}
.search ion-icon {
  color: #ffff;
  cursor: pointer;
}
.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f9d3b4;
}
.container {
  width: 100%;
  /* display: inline-block; */
  margin-top: 1rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* padding-left: 183em; */
  /* justify-content: space-evenly; */
  white-space: nowrap;
}
.containers {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sectionmasterpgninicial {
  display: flex;

  /* overflow-x: auto; */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.letrastl {
  color: #443c68;
  display: block;
  cursor: pointer;
}

.ionsl {
  color: red;
}
.lia {
  display: flex;
  align-items: flex-end;
}

.flex {
  display: flex;
  align-items: center;
  margin-top: 70px;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;

  }
  .containers {
    /* margin-top: 2rem; */
    width: 50%;
    height: 50%;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
  


}
